<h1>Profile Information</h1>

<p><strong>Name:</strong> <%= @profile.name %></p>
<p><strong>Gender:</strong> <%= @profile.gender %></p>
<p><strong>Birthdate:</strong> <%= @profile.birthdate %></p>
<p><strong>Contact Number:</strong> <%= @profile.contact_number %></p>
<p><strong>Address:</strong> <%= @profile.address %></p>

<%= link_to "Edit Profile", edit_student_profiles_path %>