<h1>New Student</h1>

<%= form_for [:admin, @student], method: :post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.fields_for :student_profile do |s| %>
    <%= s.label :name %>
    <%= s.text_field :name, class: 'form-control' %>

    <%= s.label :gender %>
    <%= s.select :gender, [['Male', 'Male'], ['Female', 'Female']], {}, class: 'form-control' %>

    <%= s.label :birthdate %>
    <%= s.date_field :birthdate, class: 'form-control' %>

    <%= s.label :contact_number %>
    <%= s.text_field :contact_number, class: 'form-control' %>

    <%= s.label :address %>
    <%= s.text_field :address, class: 'form-control' %>
  <% end %>

    <%= f.label :course_id %>
    <%= f.collection_select :course_id, @courses, :id, :name, class: 'form-control'%>

    <%= f.label :year %>
    <%= f.select :year, User.years.keys, include_blank: true, class: 'form-control'%>

    <%= f.label :sem %>
    <%= f.select :sem, User.sems.keys, include_blank: true, class: 'form-control'%>
    
  <p><%= f.submit "Create Student", class: 'btn btn-primary mt-3' %></p>
<% end %>
