<h1>All Students</h1>

<%= form_tag search_admin_students_path, method: :get do %>
  <div class="row">
    <div class="col-md-2">
      <%= email_field_tag :email, params[:email], placeholder: "Email", class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag :name, params[:name], placeholder: "Name", class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= select_tag :gender, options_for_select([['Male', 'male'], ['Female', 'female'], ['Other', 'other']],params[:gender]), include_blank: true , class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag :course, params[:course], placeholder: "Course", class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag :code, params[:code], placeholder: "Course Code", class: "form-control" %>
    </div>
  <div class="col-md-2">
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
  </div>
<% end %>

<% if @students.any? %>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Course</th>
      <th>Course Code</th>
      <th>Year</th>
      <th>Sem</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id%></td>
        <td><%= student.email %></td>
        <td><%= student.profile.name if student.profile&.name.present? %></td>
        <td><%= student.profile.gender if student.profile&.gender.present? %></td>
        <td><%= student.course.name if student.course&.name.present? %></td>
        <td><%= student.course.code if student.course&.code.present? %></td>
        <td><%= student.year %></td>
        <td><%= student.sem %></td>
        <td><%= link_to 'Edit Student Account', edit_admin_student_path(student) %></td>
        <td><%= link_to 'Edit Profile', edit_admin_student_profile_path(student) %> </td>
        <td><%= link_to "Destroy", admin_student_path(student), data: { turbo_method: :delete , turbo_confirm: "Are you sure?"}, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
    <p>No students found.</p>
<%end%>

<%= will_paginate @students %>
