<h1>All Students</h1>

<%= form_tag search_admin_students_path, method: :get do %>
  <div class="row">
    <div class="col-md-4">
      <%= text_field_tag :name, params[:name], placeholder: "Name" %>
    </div>
    <div class="col-md-4">
      <%= select_tag :gender, options_for_select(["Male", "Female", "Other"], params[:gender]), include_blank: true %>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :birthdate, params[:birthdate], placeholder: "Birthdate" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <%= text_field_tag :contact_number, params[:contact_number], placeholder: "Contact Number" %>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :email, params[:email], placeholder: "Email" %>
    </div>
    <div class="col-md-4">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<% if @students.any? %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Contact Number</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.gender %></td>
        <td><%= student.birthdate %></td>
        <td><%= student.contact_number %></td>
        <td><%= student.email %></td>
        <td>
          <%= link_to 'Edit', edit_admin_student_path(student) %> |
          <%= link_to 'Destroy', admin_student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody> 
</table>
<% else %>
    <p>No students found.</p>

<%end%>

