<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
    <%= link_to "Enrollment System", root_path, class: "navbar-brand" %>

        <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">Sample</ul>

        <ul class="navbar-nav">
            <% if user_signed_in? %>
                <% if current_user.is_student?%>
                    <li class="nav-item"><%= link_to "View Profile", student_profile_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to "View Enrollment", student_profile_path, class: "nav-link" %></li>
                <% end %>
                <% if current_user.is_instructor?%>
                    <li class="nav-item"><%= link_to "View Profile", instructor_profile_path, class: "nav-link" %></li>
                <% end %>
                <% if current_user.is_administrator?%>
                    <li class="nav-item"><%= link_to "View Profile", admin_profile_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to "View Dashboard", admin_dashboard_path, class: "nav-link" %></li>
                <% end %>
            <li class="nav-item">
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link active" %>
            </li>
            <% else %>
                <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
            <% end %>
        </ul>
        </div>
    </div>
</nav>