<h1>Subjects</h1>

<%= form_tag(subjects_path, method: :get) do %>
  <div class="filter-form">
    <%= select_tag :major, options_for_select(['Major', 'Minor'], params[:major]), include_blank: 'All Majors' %>
    <%= select_tag :year, options_for_select(['1st', '2nd', '3rd', '4th'], params[:year]), include_blank: 'All Years' %>
    <%= select_tag :semester, options_for_select(['1st Sem', '2nd Sem'], params[:semester]), include_blank: 'All Semesters' %>
    <%= submit_tag 'Filter' %>
  </div>
<% end %>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Subject Type</th>
            <th>Year</th>
            <th>Semester</th>
            <th>Course</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @subjects.each do |subject| %>
        <tr>
            <td><%= subject.name %></td>
            <td><%= subject.code %></td>
            <td><%= subject.subject_type %></td>
            <td><%= subject.year %></td>
            <td><%= subject.semester %></td>
            <td><%= subject.course.name %></td>
            <td><%= link_to 'Show', subject %></td>
            <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
            <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Subject', new_subject_path %>
