<h1>Parent Subjects</h1>

<p><%= link_to 'Create New Parent Subject', new_subject_path, class: "btn btn-secondary btn-sm"%></p>
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @parent_subjects.each do |parent_subject| %>
            <tr>
            <td><%= parent_subject.code %></td>
            <td><%= parent_subject.course.name %></td>
            <td>
                <%= link_to 'Show', subject_path(parent_subject), class: "btn btn-primary btn-sm" %>
                <%= link_to 'Edit', edit_subject_path(parent_subject), class: "btn btn-secondary btn-sm" %>
                <%= link_to 'Delete', parent_subject, data: { turbo_method: :delete , turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
            </td>
            </tr>
        <% end %>
    </tbody>
</table>
