<h1>Parent Subjects</h1>

<p><%= link_to 'Create New Parent Subject', new_subject_path %></p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Subject Type</th>
            <th>Year</th>
            <th>Semester</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @parent_subjects.each do |parent_subject| %>
            <tr>
            <td><%= parent_subject.name %></td>
            <td><%= parent_subject.code %></td>
            <td><%= parent_subject.subject_type %></td>
            <td><%= parent_subject.year %></td>
            <td><%= parent_subject.semester %></td>
            <td><%= parent_subject.course.name %></td>
            <td>
                <%= link_to 'Show', subject_path(parent_subject) %>
                <%= link_to 'Create Child Subject', new_child_subject_path(parent_subject) %>
                <%= link_to 'Edit', edit_subject_path(parent_subject) %>
                <%= link_to 'Delete', subject_path(parent_subject), method: :delete, data: { confirm: 'Are you sure you want to delete this subject?' } %>
            </td>
            </tr>
        <% end %>
    </tbody>
</table>
