<!-- subjects/show.html.erb -->

<p class="lead"><strong>Subjects for <%= @subject.course.name %></strong></p>
<hr>
<h4>Sub Subjects</h4>

<p><%= link_to 'Create Sub Subject', new_child_subject_path(@subject) %></p>
<% if @parent_subject.children.present? %>
<table class = "table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Subject Type</th>
        <th>Year</th>
        <th>Semester</th>
        <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @parent_subject.children.each do |child_subject| %>
        <tr>
            <td><%= child_subject.name %></td>
            <td><%= child_subject.code %></td>
            <td><%= child_subject.subject_type %></td>
            <td><%= child_subject.year %></td>
            <td><%= child_subject.semester %></td>
            <td><%= link_to 'Edit', edit_subject_path(child_subject), class: "btn btn-secondary btn-sm" %></td>
            <td><%= button_to 'Delete', child_subject, method: :delete, data: { confirm: 'Are you sure you want to delete this subject?' }, class: "btn btn-danger btn-sm" %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
<% end %>
<%= link_to 'Back to Subjects', subjects_path %>