<!-- subjects/show.html.erb -->

<h1><%= @subject.name %></h1>
<p><strong>Code:</strong> <%= @subject.code %></p>

<h2>Child Subjects</h2>
<% if @child_subjects.any? %>
    <ul>
    <% @child_subjects.each do |child_subject| %>
        <li><%= child_subject.name %> - <%= child_subject.code %></li>
    <% end %>
    </ul>
<% else %>
    <p>No child subjects found.</p>
<% end %>

<%= link_to 'Create Child Subject', new_child_subject_path(@subject) %>
