<div id="<%= dom_id course %>">
  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p><strong>State:</strong> <%= @course.state %></p>

  <% if can? :publish, @course %>
    <%= button_to 'Publish', publish_course_path(@course), method: :post %>
  <% end %>

  <% if can? :unpublish, @course %>
    <%= button_to 'Unpublish', unpublish_course_path(@course), method: :post %>
  <% end %>

  

</div>
