<p style="color: green"><%= notice %></p>

<div class="table-responsive">
    <h2>Courses</h2>
    <% if can?(:create, Course)%>
        <%= link_to "New Course", new_course_path, class: "btn btn-success mt-2 mb-2" %>  
    <%end%>
</div>

<%= form_tag search_courses_path, method: :get do %>
<div class="row">
    <div class="col-md-2">
        <%= text_field_tag :name, params[:name], placeholder: "Course", class: "form-control" %>
    </div>
    <div class="col-md-2">
        <%= text_field_tag :code, params[:code], placeholder: "Course Code", class: "form-control" %>
    </div>
    <div class="col-md-2">
    <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
</div>
<% end %>

<div class="table-responsive">
<% if @courses.any? %>
    <%= render "courses_table" %> 
<% else %>
    <p>No courses found.</p>
<%end%>
</div>
<%= will_paginate @courses %>