<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>
  <%= link_to "Destroy this course", @course, data: { turbo_method: :delete , turbo_confirm: "Are you sure?"}%>
</div>
<% if @versions.any? %>
  <div>
  <table class="table">
      <thead>
      <tr>
          <th>Version</th>
          <th>Changes</th>
          <th>Modified by</th>
          <th>Date</th>
          <th>Action</th>
      </tr>
      </thead>
      <tbody id="courses">
      <% @versions.each do |version| %>
        <tr>
          <td><%= version.index %></td>
          <td>
            <ul>
              <% version.changeset.each do |attribute, change| %>
                <li><strong><%= attribute %>:</strong> <%= change[0] %> to <%= change[1] %></li>
              <% end %>
            </ul>
          </td>
          <td><%= version.whodunnit %></td>
          <td><%= version.created_at %></td>
          <td><%= version.event %></td>
          <td><%= version.item_type %></td>
          <td><%= link_to "Rollback", rollback_course_path(@course, version: version)%></td>
        </tr>
      <% end %>
      </tbody>
  </table>
  </div>
<% end %>